<%= form_with(model: post, local: true) do |form| %>

  <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>  

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </p>

  <p>
    <%= form.label :published %>
    <%= form.text_field :published %>
  </p>

  <p>
    <%= form.label :published_on %>
    <%= form.date_field :published_on %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div><br>
<% end %>
