<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<p>
  Press <%= link_to 'here', search_posts_path %> to search for posts.
</p>

<table>
  <thead>
    <tr>
      <th>author</th>
      <th>title</th>
      <th>tags</th>
      <th>Edit</th>
      <th>Show</th>
      <th>Destroy</th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.author %></td>
        <td><%= post.title %></td>
        <td><%= post.tags %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
  </thead>
</table><br>

<%= link_to 'New Post', new_post_path %>